<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAPTCHA configuration</title>

    <script src="https://unpkg.com/vue@3.2.31"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>

    <script src="./js/siteconfig.js" type="module" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" id="iconlib-link" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="page-header">
        <a href="index.html"><span class="header-option selected">Site configuration</span></a>
        <a href="data-objects.html"><span class="header-option">Data Objects</span></a>
        <a href="label-groups.html"><span class="header-option">Label Groups</span></a>
    </header>
    <main id="app">
        <section class="configuration-list">
            <div class="headline">Site configurations</div>
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Config name</th>
                    <th>Site key</th>
                    <th>Secret key</th>
                    <th>Task type</th>
                    <th>Evaluation Threshold</th>
                    <th>Generation config</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="config in configs">
                    <td>{{ config.name }}</td>
                    <td>{{ config.siteKey }}</td>
                    <td>{{ config.secretKey }}</td>
                    <td>{{ config.taskConfig.taskType }}</td>
                    <td>{{ config.taskConfig.evaluationThreshold }}</td>
                    <td>{{ config.taskConfig.generationConfig }}</td>
                    <td><button v-on:click="deleteConfig(config.siteKey)" class="remove-icon fas fa-trash"></button></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section>
            <div class="headline">Create site configuration</div>
            <form>
                <div class="subheadline">Task configuration</div>
                <div class="create-config-form">
                    <label for="configName">Config name</label>
                    <input type="text" id="configName" v-model="configName">

                    <label for="taskType">Task type</label>
                    <select name="taskType" id="taskType" v-model="taskType">
                        <option v-for="taskType in taskTypes" :value="taskType">{{ taskType }}</option>
                    </select>

                    <label for="evaluationThreshold">Evaluation threshold</label>
                    <input id="evaluationThreshold" v-model="evaluationThreshold"/>
                </div>
                <div id="generationConfig"></div>


                <button v-on:click="createSiteConfig()" type="button" class="important-button">Create</button>
            </form>
        </section>
    </main>
</body>
</html>
