<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CzechCaptcha configuration</title>

    <script src="https://unpkg.com/vue@3.2.31"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="./js/label-groups.js" type="module" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" id="iconlib-link" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <a href="index.html" class="header-logo">CzechCaptcha</a>
    <a href="site-configurations.html" class="header-option">Site Configurations</a>
    <a href="data-objects.html" class="header-option">Data Objects</a>
    <a href="label-groups.html" class="header-option selected">Label Groups</a>
    <div class="header-log-in-out">
        <a href="logout">Log Out</a>
    </div>
</header>
<main id="app" class="restricted-width">
    <button type="button" class="add-button" v-on:click="showNewModal = true">+ New Label Group</button>
    <table class="styled-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Maximal Cardinality</th>
            <th>Label Count</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(labelGroup, index) in labelGroups">
            <tr class="closed-row">
                <td>{{ labelGroup.name }}</td>
                <td>{{ labelGroup.maxCardinality }}</td>
                <td>{{ rangeDisplayCount(labelGroup) }}</td>
                <td v-if="isRowOpened(index)" v-on:click="toggleRow(index)">&#9650;</td>
                <td v-else v-on:click="toggleRow(index)">&#9660;</td>
            </tr>
            <tr class="opened-row" v-if="isRowOpened(index)">
                <td colspan="4">
                    <h1>Labels</h1>
                    <p>{{ rangeDisplayValue(labelGroup) }}</p>
                </td>
            </tr>
        </template>
        </tbody>
    </table>
    <Transition name="modal">
        <div v-if="showNewModal" class="modal-background">
            <div class="modal-wrapper">
                <div class="add-modal-container">
                    <button class="close modal-close" v-on:click="showNewModal = false"></button>
                    <form>
                        <label for="groupName">Name</label>
                        <div title="Name of the label group, must be unique." class="tooltip"></div>
                        <input type="text" id="groupName" v-model="groupName">

                        <label for="maxCardinality">Maximal Cardinality</label>
                        <div title="Maximum number of positive labels from this label group that can be assigned to one object. Minimal value is 1." class="tooltip"></div>
                        <input type="number" min="1" id="maxCardinality" v-model="maxCardinality">

                        <label for="enteredLabel">Labels</label>
                        <div title="Labels that will be part of the label group. If none entered the label group will have unlimited label range." class="tooltip"></div>
                        <ul class="item-list">
                            <li v-for="(label, index) in labels">
                                <p>{{ label }}</p>
                                <button type="button" class="close"
                                        v-on:click="removeLabel(index)"></button>
                            </li>
                        </ul>
                        <div class="add-item-to-list">
                            <div>
                                <input type="text" id="enteredLabel" v-model="enteredLabel">
                            </div>
                            <button v-on:click="addLabel()" type="button">+ Add Label</button>
                        </div>

                        <button v-on:click="createLabelGroup()" type="button" class="add-modal-add-button">Create Label Group</button>
                    </form>
                </div>
            </div>
        </div>
    </Transition>
</main>
<footer>
    <div class="restricted-width">
        <span>Created within <a href="https://opendatalab.cz/"><i class="fas fa-flask"></i> OpenDataLab</a></span>
        <a href="https://github.com/opendatalabcz/czech-captcha"><i class="fa-brands fa-github"></i> GitHub repository</a>
    </div>
</footer>
</body>
</html>
