/* ================= general ================= */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F7F7;
    margin: 0;
    min-height: 100vh;
}
main {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
.restricted-width {
    width: 70%;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.centered {
    text-align: center;
}
.light-blue {
    background-color: #DBE2EF;
}
.half-column {
    width: 50%;
}
.list-with-caption > p {
    font-weight: bold;
    color: #112D4E;
}
.list-with-caption > ul > li {
    margin: 10px 8px;
}
.list-with-icons {
    padding-inline-start: 0;
    list-style-type: none;
}
.list-with-icons li i {
    margin-right: 10px;
    width: 20px;
    color: #3F72AF;
}
.main-title {
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main-subtitle {
    color: #3F72AF;
    font-size: 28px;
    margin-bottom: 65px;
}
.section {
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
}
.section .half-column:first-child > * {
    padding-right: 30px;
}
.section .half-column:last-child > * {
    padding-left: 30px;
}
.section h2 {
    color: #112D4E;
}
.section h2 > i {
    margin-right: 10px;
}

/* ================= header ================= */
header {
    display: flex;
    background-color: #112D4E;
}
header > *:last-child {
    margin-left: auto;
}
.header-logo {
    float: left;
    padding: 15px 30px;
    font-size: 28px;
    font-weight: bold;
    color: #F9F7F7;
}
.header-logo:hover {
    color: #3F72AF;
}
.header-option {
    display: flex;
    align-items: center;
    color: #F9F7F7;
    padding: 0 15px;
    font-size: 24px;
    box-sizing: border-box;
    border-top: 10px solid rgba(255, 255, 255, 0);
    border-bottom: 10px solid rgba(255, 255, 255, 0);
}
.header-option:hover {
    background-color: #3F72AF;
}
.header-option.selected {
    border-bottom: 10px solid #3F72AF;
}
.header-log-in-out {
    display: flex;
    align-items: center;
}
.header-log-in-out > a {
    color: #F9F7F7;
    background-color: #3F72AF;
    font-size: 18px;
    padding: 7px;
    margin: 10px 15px;
    border-radius: 10px;
}

/* ================= footer ================= */
footer {
    position: sticky;
    top: 100vh;
    padding: 15px;
    background-color: #3F72AF;
    color: #F9F7F7;
}
footer > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer a {
    color: #DBE2EF;
}
footer a:hover {
    color: black;
}

/* ================= table ================= */
.styled-table {
    margin: 20px auto;
    color: #535353;
    background-color: #DBE2EF;
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}
.styled-table thead {
    background-color: #3F72AF;
    color: #F9F7F7;
}
.styled-table thead tr th {
    font-weight: normal;
    text-align: left;
    padding: 8px 15px;
}
.styled-table thead tr th:first-child{
    border-radius:10px 0 0 0;
}
.styled-table thead tr th:last-child{
    border-radius:0 10px 0 0;
}

.styled-table tbody tr {
    border-top: 1px solid #F9F7F7;
}
.styled-table tbody tr:last-of-type {
    border-radius: 0 10px;
}
.styled-table tbody tr:hover {
    background-color: #F9F7F7;
}
.styled-table tbody td {
    padding: 5px 15px;
}
.styled-table .closed-row > td:last-of-type {
    cursor: pointer;
    padding: 0;
    width: 10px;
}
.styled-table .opened-row > td{
    padding: 15px 15px;
    background-color: #F9F7F7;
    box-sizing: border-box;
    border: 1px solid #DBE2EF;
}
.styled-table .opened-row > td > h1 {
    font-size: 16px;
    margin: 0;
}
.styled-table .opened-row > td > p {
    margin: 0;
}
.styled-table .opened-row > td > ul {
    margin: 0;
    padding-inline-start: 20px;
}

/* ================= row detail ================= */
.small-heading {
    font-weight: 600;
    font-size: 16px;
    color: #535353;
}

.object-content {
    font-weight: 500;
    font-size: 14px;
    color: #535353;
    margin-bottom: 10px;
    margin-left: 5px;
}

/* ================= buttons ================= */
button {
    padding: 4px 8px;
    color: #F9F7F7;
    background-color: #3F72AF;
    font-size: 14px;
    border-radius: 10px;
    border-style: none;
    margin: 5px;
    cursor: pointer;
}
button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
button:active {
    box-shadow: none;
}
button.close {
    color: #112D4E;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
button.close:before {
    content: "\00D7";
}
button.close:hover {
    box-shadow: none;
    color: black;
}
button.add-button {
    margin: 20px 0 0 auto;
    padding: 10px 10px;
    width: fit-content;
}
button.delete-button {
    color: #F9F7F7;
    background-color: #f12100;
    margin: 10px 0 0 0;
}
.dropdown-btn {
    margin: 20px 0 0 auto;
    width: fit-content;
}
.dropdown-btn > button {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
    cursor: default;
}
.dropdown-btn > ul {
    margin: 0 5px;
    padding-inline-start: 0;
    list-style-type: none;
    position: absolute;
    width: 138px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.dropdown-btn > ul::after {
    border: #3F72AF solid 2px;
}
.dropdown-btn > ul > li {
    font-size: 14px;
    padding: 5px;
    background-color: #DBE2EF;
    cursor: pointer;
}
.dropdown-btn > ul > li > label {
    display: block;
    cursor: pointer;
}
.dropdown-btn > ul > li:hover {
    background-color: #3F72AF;
    color: #F9F7F7;
}
.dropdown-btn > ul > li:last-child {
    border-radius: 0 0 10px 10px;
}
.dropped-btn > button {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
/* ================= generated form ================= */
.je-object__title label {
    margin-bottom: 10px;
}
.json-editor-btn-delete {
    background-color: #fc4a1a;
}

/* ================= modals common ================= */
.modal-background {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
button.modal-close {
    display: block;
    margin: -10px 0 -10px auto;
    width: fit-content;
    font-weight: lighter;
    font-size: 40px;
}
.modal-enter-from {
    opacity: 0;
}
.modal-leave-to {
    opacity: 0;
}
.modal-enter-from .modal-wrapper > div,
.modal-leave-to .modal-wrapper > div {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* ================= add modal ================= */
.add-modal-container {
    width: 500px;
    max-height: 600px;
    overflow: auto;
    margin: auto;
    padding: 20px;
    background-color: #F9F7F7;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
.add-modal-container form input,
.add-modal-container form select {
    margin-bottom: 20px;
    width: 100%;
}
.add-modal-container form label {
    font-weight: bold;
}
.add-modal-container form table {
    margin-bottom: 20px;
}
.add-modal-add-button {
    font-size: 18px;
    margin: 10px 0 auto;
    width: 100%;
    padding: 6px 12px;
}
.checkbox-line {
    display: flex;
    margin-bottom: 20px;
}
.checkbox-line > input[type=checkbox] {
    width: 20px;
    margin: 0 5px 0 0;
}
.add-modal-container form div.checkbox-line > label {
    font-weight: normal;
}
.objects-to-upload {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}
.objects-to-upload tr {
    border-top: #DBE2EF solid 2px;
}
.objects-to-upload tr > td:first-child,
.objects-to-upload tr > td:last-child {
    width: 20px;
}
.objects-to-upload .annotated {
    background-color: #DBE2EF;
}

/* ================= user input elements ================= */
input,
select,
textarea {
    box-sizing: border-box;
    border: 1px solid #DBE2EF;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
}
input[type=text], input[type=number], input[type=url], select {
    height: 25px;
}
input[type=checkbox] {
    height: 20px;
}
.item-list {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid #DBE2EF;
    border-radius: 10px;
    margin: 0;
    padding-inline-start: 0;
}
.item-list > li {
    padding: 4px 8px;
    font-size: 14px;
    background-color: #DBE2EF;
    border-style: none;
    border-radius: 4px;
    margin: 5px;
    display: inline;
}
.item-list > li > p {
    margin: 0;
    display: inline;
}
.item-list > li > button.close {
    padding: 0 0 0 5px;
}
.add-item-to-list {
    display: table;
}
.add-item-to-list > button {
    border-radius: 5px;
    margin-right: 0;
    white-space: nowrap;
}
.add-item-to-list > div {
    display: table-cell;
    width: 100%;
}
.add-item-to-list > .two-inputs > input {
    width: 50%;
}
.tooltip {
    font-size: 14px;
    display: inline-block;
    background-color: #3F72AF;
    color: #F9F7F7;
    width: 16px;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;
}
.tooltip::after {
    content: "?";
}